.conteneur-formulaire{

	display: block;
	width: 60%;
	margin-top: 50px;
	background: linear-gradient(to bottom, #bd5948, #ff2b2b);
	height: auto;
	margin-left: 20%;
	border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6); /* Ombre légère */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 10px 0px 20px;
}

#form-connexion{
	display:  flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	padding: 15px;
	text-align: center;
}

#form-connexion *{
	margin: 10px;
	width: 50%;
	height: 50px;
	border-radius: 10px;
	
	background-color: #dad9d9;
	color:  #333;
}

#form-connexion textarea {
	height : 100px;
	max-width: 100%;
}

#form-connexion h1{
	background-color: inherit;
	box-shadow: none;
	font-size: 40px;
}

#form-connexion button {
	width: 50%;
}

.form-interne{
	width: 53%;
	display: flex;
	flex-flow: row nowrap;
	background-color: inherit;
	box-shadow: none;
	align-items: center;
}
.form-interne * {
	width: 50%;
}

#form-connexion *:hover {
	box-shadow: 5px 5px 5px #333;
}